html,
body {
    background-color: #F8F9FA !important;
}

.s1 {
    margin: auto;
    width: 1100px;
    margin-top: 170px;
    margin-bottom: 50px;
}

.s1 h1 {
    text-align: center;
    font-family: 'Muli Bold';
    font-size: 2.5rem;
    letter-spacing: -3px;
}

.s1 p {
    font-family: 'Muli';
    font-size: 20px;
    color: #666666;
    text-align: justify;
    margin-top: 40px;
    letter-spacing: -1px;
}

.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario div {
    margin: 10px 0px !important;
}

.formulario input,
.formulario textarea {
    font-family: 'Muli';
    border: 1px solid #6666664b;
    width: 318px;
    height: 50px;
}

#nombre {
    margin-right: 20px;
}

#asunto,
#email,
#mensaje {
    width: 660.383px;
    margin-right: 0px;
}

#mensaje {
    height: 120px;
    padding-bottom: 70px;
    margin-bottom: 20px;
    resize: none;
}

#enviar {
    width: 150px;
    text-align: center;
    font-size: 24px;
    line-height: 1px;
}

@media screen and (max-width: 1140px) {
    .s1 {
        width: 88%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 765px) {
    .formulario div {
        width: 100%;
    }
    .formulario div input {
        display: block;
    }
    .formulario div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #nombre {
        margin-bottom: 20px;
        margin-right: 0px;
    }
    #nombre,
    #apellido,
    #asunto,
    #email,
    #mensaje {
        margin-right: auto;
        margin-left: auto;
        width: 80%;
    }
    #enviar {
        margin: auto;
    }
}